@import '../variables';

ul {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .close-holder {
        align-content: center;
    }

    .action-holder {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    li {
        display: flex;
        justify-content: space-between;

        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 8px;
        list-style-type: none;
        background: $white;
        color: $darker-black;
        font-weight: 300;
        font-size: 13px;
        transition: 0.2s;
        border-radius: 3px;
        border: 1px solid #efefef;

        box-shadow:
            0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
            0px 1.6px 3.6px rgba(0, 0, 0, 0.1);

        /* make the list items unselectable */
        user-select: none;

        &.overdue {
            background: #fff1f1;
            color: $darker-black;
            border: #fff1f1;
        }

        &.checked {
            color: $light-gray;
            padding: 12px 8px 12px 35px;

            .task-holder::before {
                content: 'check';
                font-family: 'Material Symbols Outlined';
                position: absolute;
                left: 7px;
                top: 0;
                font-size: 24px;
                display: flex;
                align-items: center;
                height: 100%;
            }

            .task {
                text-decoration: line-through;

            }
        }

        .task {
            display: block;
            width: fit-content;
            margin-bottom: 5px;
        }

        .date {
            font-size: 10px;
            margin-top: 5px;
            color: $gray;
        }

        .category {
            font-size: 10px;
            margin-top: 5px;
            color: $gray;
            border: 1px solid;
            padding: 2px 4px 2px 4px;
            border-radius: 10px;
            margin-left: 5px;

            &.personal {
                color: #03dac5;
            }

            &.work {
                color: #bc86fc;
            }

            &.home-improvement {
                color: #f64740;
            }

            &.education {
                color: #0041a1;
            }

            &.shopping {
                color: #e1badd;
            }

            &.health-and-wellness {
                color: #3700b3;
            }

            &.financial {
                color: #cfc7b9;
            }

            &.social {
                color: #9aadc7;
            }

            &.travel {
                color: #a8eff0;
            }

            &.miscellaneous {
                color: #b7c8a6;
            }
        }
    }
}