@import '../variables';

.dark {
    main {
        background-color: $dark;
    }

    footer {
        background-color: $dark;

        .legal {
            p {
                color: $white;
            }

            a {
                color: $white;
                border-right: 1px solid $white;
            }
        }
    }

    ul {
        li {
            background-color: $light-dark;
            color: $white;
            border: 1px solid $light-dark;

            &.checked {
                color: $white;

                &::before {
                    border-color: $white;
                }
            }
        }
    }

    .header {
        background-color: $dark;
        color: $white;
    }

    input {
        background-color: $light-dark;
        color: #757575;
    }

    #due-date {
        background-color: $light-dark;
        color: #757575;
    }

    .modal .modal-content {
        background-color: $light-dark;

        color: $white;

        input {
            background: #121212;
            border: none;
            border-right: 0px;
            color: $white;
        }
    }

    .modal {
        &.edit {
            .modal-content {
                background-color: $light-dark;
            }

            #edit-category {
                font-weight: 300;
                color: $white;
                padding: 0px;
                border: none;
                padding: 0 10px;
                color: #757575;
                background: #121212 !important;
            }

            input {
                color-scheme: dark;
                border: none;
                color: #757575;
                background: #121212;
            }
        }
    }

    select {
        background-color: $light-dark !important;
        color: $white;
    }

    .add-tasks {
        input {
            color-scheme: dark;
            background-color: $light-dark !important;
        }
    }

    #empty {
        color: $white;
    }
}