.dark main {
  background-color: #121212;
}

.dark footer {
  background-color: #121212;
}

.dark footer .legal {
  color: white;
}

.dark footer .legal a {
  color: white;
  border-right: 1px solid white;
}

.dark ul li {
  background-color: #201f1e;
  color: white;
  border: 1px solid #201f1e;
}

.dark ul li.checked {
  color: white;
}

.dark ul li.checked::before {
  border-color: white;
}

.dark .header {
  background-color: #121212;
  color: white;
}

.dark input {
  background-color: #201f1e;
  color: white;
}

.dark #due-date {
  background-color: #201f1e;
  color: #757575;
}

.dark .modal .modal-content {
  background-color: #201f1e;
  color: white;
}

.dark .modal .modal-content input {
  border: 1px solid #757575;
  border-right: 0px;
  color: white;
}

.dark select {
  background-color: #201f1e;
  color: white;
}

.dark .add-tasks input {
  color-scheme: dark;
}

.dark #empty {
  color: white;
}
